CP/Omegaup/interactivos/Caballero-de-otro-mundo/run.bat
CP/Omegaup/interactivos/Caballero-de-otro-mundo/compile.bat
CP/Omegaup/interactivos/Caballero-de-otro-mundo/test.bat
CP/Omegaup/interactivos/Caballero-de-otro-mundo/libinteractive/
CP/Omegaup/interactivos/Caballero-de-otro-mundo/isekai.cbp
CP/Omegaup/interactivos/Caballero-de-otro-mundo/.vscode