CP/Omegaup/interactivos/Caballero-de-otro-mundo_windows_cpp/run.bat
CP/Omegaup/interactivos/Caballero-de-otro-mundo_windows_cpp/compile.bat
CP/Omegaup/interactivos/Caballero-de-otro-mundo_windows_cpp/test.bat
CP/Omegaup/interactivos/Caballero-de-otro-mundo_windows_cpp/libinteractive/
